{% extends 'base.html.twig' %}
{% block title %}PAGE PARTENAIRES{% endblock %}

{% block body %}
    <div class="content">
        {% include 'components/_header.html.twig' %}
        <section>
            <div class="d-flex align-items-center bread" style="height: 3rem">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'
                width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);
                " aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 mx-3">
                        <li title="Accueil" class="breadcrumb-item"><a href="/" class="menusHover text-decoration-none">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Partenaires</li>
                    </ol>
                </nav>
            </div>
            <h1 class="text-center text-secondary my-4">Liste des partenaires</h1>
            <div id="alertNotFoundFilter"></div>
            <div class="text-center m-4 d-flex align-items-center" id="filtrageForm">
                <div class="form-check mx-2">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="tous"{% if param == '/' %} checked {% endif %} >
                    <label class="form-check-label" for="flexRadioDefault1">
                        Tous
                    </label>
                </div>
                <div class="form-check mx-2" id="formActif">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="actifs" {% if param == '/find_actifs' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Actifs
                    </label>
                </div>
                <div class="form-check mx-2">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="inactifs" {% if param == '/find_inactif' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Inactifs
                    </label>
                </div>
                <input id="recherche" type="text" class="form-control" placeholder="Recherche par nom">
            </div>
            <div class="container text-center mb-2">
                <a href="/client/add" class="btn btn-primary">Ajouter partenaire</a>
            </div>
            {% include 'components/client/_flashes.html.twig' %}
            {% if clients %}
                <div class="partenaire" id="clientCard">
                    {% for client in clients %}
                        <div class="my-3 p-4 article m-auto rounded list-group" style="width: 98%">
                            <div class="imgActiveBtn">
                                <div>
                                    <a title="Aller sur le profil" href="/client/{{ client.id }}">
                                        {% if client.getImageName() %}
                                            <img class="list-group border border-secondary imgHover" width="200px" height="160px" src="/images/client_logo/{{ client.getImageName() }}" alt="partenaire".{{ client.id }}>
                                        {% else %}
                                            <img title="Aller sur le profil" class="list-group border border-secondary imgHover" width="200px" height="160px" src="{{ asset('build/images/default.jpg') }}" alt="partenaire".{{ client.id }}>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="form-check form-switch mt-3">
                                    <input {% if client.getUser().getToken()%}disabled{% endif%} title="{% if client.active %} Désactiver {% else%} Activer {% endif %}" data-bs-toggle="modal" data-bs-target="#exampleModal{{client.id }}" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" {% if client.active %} checked {% endif %}>
                                    <label class="form-check-label text-secondary" for="flexSwitchCheckDefault">{% if client.active %} On {% else%} Off {% endif %}</label>
                                </div>
                                {% include 'components/client/_modal.html.twig' %}
                            </div>
                            <ul class="border border-secondary list-unstyled bg bg-white rounded-2">
                                <li class="m-2">Client ID :{{ client.id }}</li>
                                <li class="m-2">Nom : {{ client.name }}</li>
                                <li class="m-2">
                                    Description courte :
                                    {% if client.getShortDesc() %}
                                    {{ client.getShortDesc() }}
                                    {% else %}
                                    <span class="text-danger">Non fourni</span></li>
                                {% endif %}
                                <li class="m-2">
                                    Url :
                                    {% if client.getUrl() %}
                                    {{ client.getUrl() }}
                                    {% else %}
                                    <span class="text-danger">Non fourni</span></li>
                                {% endif %}
                                <li class="m-2">Date de création : {{ client.getCreateAt()|date('d-m-Y ') }}</li>
                                {% if client.getUser().getToken() %}
                                    <li class="m-2"> Status : <span class="text-warning">en Attendte de validation</span></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                <div id="seeMore" class="d-flex justify-content-center align-items-center">
                    <i class="bi bi-plus-circle-dotted btn" style="font-size: 1.5rem" id="plusBtn"></i> Voir plus
                </div>
            {% else %}
                <div class="container text-center mb-3">
                    <div class="alert alert-dark text-center">
                        Aucun partenaire n'est enregistré
                    </div>
                    <img src="{{ asset('build/images/no_client.jpg') }}" alt="" width="100%">
                </div>
            {% endif %}
        </section>
        {% include 'components/_footer.html.twig' %}
    </div>
{% endblock %}
