{% extends 'base.html.twig' %}
{% block title %}Partenaire!{% endblock %}

{% block body %}
    {% include 'components/_header.html.twig' %}
    <section>
        <div class="d-flex align-items-center border border-primary border-1 bread mx-1 rounded-2" style="height: 3rem">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'
                width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);
                " aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 mx-3">
                    <li class="breadcrumb-item"><a href="/" class="text-dark text-decoration-none">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="/client" class="text-dark text-decoration-none">Partenaires</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ client.name }}</li>
                </ol>
            </nav>
        </div>
        <h1 class="text-center text-secondary my-4">Page du partenaire {{ client.name }}</h1>
            <div class="container text-center">
                {% if permissions is empty %}
                    <a class="btn btn-success" href="/permission/add/{{ client.id }}">Ajouter permission</a>
                {% else %}
                    <a class="btn btn-success" href="/permission/add/{{ client.id }}">Mofidier les permissions</a>
                {% endif %}
                <a class="btn btn-success" href="/client/user/add/{{ client.id }}">Gérer utilisateur</a>
            </div>
            <div class="my-3 p-4 article m-auto rounded border border-primary" style="width: 98%">
                {% if client.getImageName() %}
                    <a href="/client/{{ client.id }}">
                        <img class="list-group border border-primary border-1" width="200px" height="160px" src="/images/client_logo/{{ client.getImageName() }}" alt="partenaire".{{ client.id }}>
                    </a>
                {% else %}
                    <a href="/client/{{ client.id }}">
                        <img class="border border-primary list-group border border-primary border-1" width="200px" height="160px" src="{{ asset('build/images/default.jpg') }}" alt="partenaire".{{ client.id }}>
                    </a>
                {% endif %}
                <ul class="list-group border border-primary border-1">
                    <li class="list-group-item border-0">Client ID :{{ client.id }}</li>
                    <li class="list-group-item border-0">Nom client :{{ client.name }}</li>
                    <li class="list-group-item border-0">
                        Description courte :
                        {% if client.getShortDesc() %}
                            {{ client.getShortDesc() }}
                        {% else %}
                            <span class="text-danger">Non fourni</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item border-0">
                        Description complète :
                        {% if client.getFullDesc() %}
                            {{ client.getFullDesc() }}
                        {% else %}
                            <span class="text-danger">Non fourni</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item border-0">
                        Url :
                        {% if client.getUrl() %}
                            {{ client.getUrl() }}
                        {% else %}
                            <span class="text-danger">Non fourni</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item border-0">
                        Dpo :
                        {% if client.getDpo() %}
                            {{ client.getDpo() }}
                        {% else %}
                            <span class="text-danger">Non fourni</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item border-0">Contact technique : {{ client.getTechnicalContact() }}</li>
                    <li class="list-group-item border-0">Contact commercial : {{ client.getCommercialContact() }}</li>
                </ul>
            </div>
    </section>
    {% include 'components/_footer.html.twig' %}
{% endblock %}
